.line{
	display: inline-block;
	vertical-align: top;
	width: 49.8%;
	box-shadow: 4px 0 5px rgba(0,0,0,0.4);
}
.container{
	margin-top: 20px;
}

@media (max-width: 600px) {
	.line{
		width: 100%;
		margin-bottom: 10px;
	}
}